[Desktop Entry]
Type=Application
Exec=~/workspace/dj-convenience/wallpaper.bash
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=wallpaper
Name=wallpaper
Comment[en_US]=
Comment=
